/*
Icons

[FontAwesome](http://fontawesome.io/icons/)

Markup:
<i class="fa fa-user-o fa-5x"></i>

Style guide: 2.6
*/

$fa-font-path: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts";
$fa-font-size-base: 16px;

@import "font-awesome/scss/variables";
@import "font-awesome/scss/mixins";
@import "font-awesome/scss/path";

#{$container}{
  @import "font-awesome/scss/core";
  @import "font-awesome/scss/larger";
  @import "font-awesome/scss/fixed-width";
  @import "font-awesome/scss/list";
  @import "font-awesome/scss/bordered-pulled";
  @import "font-awesome/scss/animated";
  @import "font-awesome/scss/rotated-flipped";
  @import "font-awesome/scss/stacked";
  @import "font-awesome/scss/icons";
  @import "font-awesome/scss/screen-reader";
}
