/*
Screen

|   Base size  |       |   Horizontal  |       |
|:------------:|:-----:|:-------------:|:-----:|
|  **$mobile** | 30rem |  **$mobile_** | 40rem |
|  **$tablet** | 48rem |  **$tablet_** | 64rem |
| **$desktop** | 80rem | **$desktop_** | 90rem |

Style guide: 2.2
*/

$mobile:    30rem;
$mobile_:   40rem;
$tablet:    48rem;
$tablet_:   64rem;
$desktop:   80rem;
$desktop_:  90rem;
