.kss-content{
	padding: 1rem;
	background-color: #eaeaea;
	section{
	}

	.kss-overview{
		h1, h2, h3, h4, h5, h6{
			font-weight: 300;
			border-bottom: 1px solid #dedede;
		}

		h1{
			font-size: 2rem;
		}

		h2{
			font-size: 1.8rem;
		}

		h3{
			font-size: 1.6rem;
		}

		h4{
			font-size: 1.4rem;
		}

		h5{
			font-size: 1.2rem;
		}

		h6{
			font-size: 1rem;
		}

		a{
			color: #ff8a00;
			text-decoration: none;
		}
	}

	.kss-title{
		font-weight: 300;
		padding: 1em 0 0 0;
		border-bottom: 1px solid $gray-light;
		margin: 0;

		.kss-ref{
			color: $gray;
			font-size: 0.5rem;
		}

	}

	.kss-description{
		color: $gray;
		font-size: 0.8rem;
		padding-top: 1rem;

		a{
			color: $orange;
		}

		table{
			border-collapse: collapse;
			border: 1px solid #fff;

			th{
				background-color: #fff;
				color: $gray;
			}

			td{
				border-bottom: 1px dotted #fff;
			}

			tr:last-child{
				td{
					border-bottom: 0;
				}
			}

			td,th{
				padding: 0.5em 1rem;
			}
		}
	}

	.kss-modifier-block{
		margin-top: 1rem;
		padding: 2rem;
		background-color: #fff;

		.kss-modifier{
			padding: 1em 0 1em 0;
		}

		.kss-modifier-original{
			padding-top: 0;
		}

		.kss-modifier-name{
			font-family: $fontsMono;
			color: $gray;
		}

		.kss-modifier-description{
			font-size: 0.8rem;
			color: $gray;
			padding-bottom: 0.5rem;
		    margin-left: 0.5rem;
		    color: #999;
		}

		.kss-modifier-head{
			display: flex;
			align-items: baseline;
			border-bottom: 1px solid #eaeaea;
		}

		.kss-markup{
			padding: 1em 0;
			font-family: $fontsMono;
			color: $gray;
			font-size: 0.8rem;
			overflow-x: hidden;
		}
	}
}